body {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    background-color: #fafafa;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

li {list-style-type: none;}


.container {
    max-width: 1158px;
    margin: 0 auto;
}

/* Header  */

.header {
    padding-bottom: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
}

.logo-accent {
    font-style: italic;
}

.nav-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-grow: 1;
}

.nav-link {
    display: inline-block;
    padding: 24px 0;
    color: #111;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.nav-link:hover {
    color: #FD9222;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-socials {
    display: flex;
    gap: 18px;
}

.header-icons {
    fill: none;
    stroke: #111;
}

.header-nav {
    display: flex;
    gap: 24px;
    flex-grow: 1;
}

/* Hero-section */

.hero-section {
    width: 1136px;
    height: 600px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
    padding: 381px 612px 40px 40px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
        url(../images/background-section.jpg), lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-inner {
    display: flex;
    gap: 14px;
}

.hero-link {
    border-radius: 100px;
    border: 1px solid #FFF;
    width: 183px;
    height: 45px;
    padding: 14px 40px;
    align-items: flex-start;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    line-height: normal;
}
.hero-title {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    margin-bottom: 32px;
}

.primary-button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border-radius: 100px;
    background-color: #FD9222;
}

.second-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.second-title-accent {
    color: #FD9222;
}

/* Section-2 */

.advantages-title {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-bottom: 18px;
}

.advantages-text {
    color: #978b8b;
}

.advantages {
    width: 1200px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #1E1823;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 128px;
    margin-top: 72px;
}

.advantages-inner {
    display: flex;
    gap: 88px;
}

.advantages-item {
    fill: #FD9222;
}

.advantages-icon {
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50px;
    fill: #FD9222;
    margin-bottom: 22px;
    height: 62px;
    width: 62px;
}

.ingridients {
    font-weight: 600;
    text-transform: uppercase;
}

.bold-text {
    font-weight: 600;
    line-height: 24px;
}

.products-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    /* text-align: center; */
}

.products-description {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.24px;
    /* text-align: center; */
}

/* Section 3*/

.ingridients-section {
    margin-bottom: 64px;
}

.ingridients-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
}

.ingridients-text {
    margin-bottom: 50px;
}

.ingridients-title-wrap  {
    margin-left: auto;
     margin-right: auto;
    text-align: center;
}

.ingridients-list {
    display: flex;
    gap: 19px;
    text-align: center;
    justify-content: center;
    flex-basis: 1;
}

.ingridients-item {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
    padding: 28px 36px 28px 28px;
}

.ingridients-item:nth-child(1) {
    background-color: #FD9222;
}

.ingridients-item:nth-child(3) {
    background-color: #1E1823;
} 

.ingridients-picture {
    margin-bottom: 36px;
}

.ingridients-picture:nth-child(1) {
    stroke: #FD9222;
}

.ingridients {
    text-align: left;
    color: #111;
}

/*Section 4 */

.made-section {
    margin-top: 64px;
    margin-bottom: 64px;
}

.made-section-content {
    display: flex;
    gap: 20px;
}

.made-section-text {
    padding: 0 32px 32px;
}

.made-steps-text {
    padding: 24px;
    list-style-type: disc;
}

.bold-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 28px;
    padding: 32px 32px 0;
}
/* Section 5 */

.products {
    margin-top: 64px;
    margin-bottom: 64px;
}

.products-list {
    display: flex;
    gap: 18px;
    justify-content: center;
    text-align: center;
}

.products-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 32px 20px;
}

.products-picture {
    margin-bottom: 8px;
}

.products-value {
    line-height: normal;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
    text-align: center;
}

.products-description {
    margin-bottom: 18px;
}
/* footer */

.footer {
    background-color: #1E1823;
    padding: 50px 32px;
}

.address {
    display: flex;
    gap: 63px;
    text-align: left;
    margin-bottom: 86px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-social-link {
    display: flex;
    gap: 18px;
}

.f-social-item {
    stroke: #FFF;
}


.footer-text {
    color: #f2e1e1;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
}

.footer-text-accent {
    color: #FD9222;
}

.contact-us {
    color: #FFF;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 14px;
}

.contact-list {
    color: #FFF;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

}

.contact-item {color: #FFF;}


.footer-menu {
    display: flex;
    gap: 24px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
}

